@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans-Bold.woff) format("woff"), url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans.woff) format("woff"), url(../fonts/PTSans.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*colors*/

:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-light-grey: #EEEEEE;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white-opacity: rgba(255, 255, 255, 0.9);
  --basic-brown: #766357;
  --basic-grey-input: #F2F2F2;
  --special-brown-hover: #604E43;
  --special-brown-pressing: #503E33;
  --special-blue-hover: #669EC0;
  --special-blue-pressing: #5496BD;
  --special-light-grey-input-hover: #EBEBEB;
}

/*global*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
}

/*navigation*/

.site-nav {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
}

.site-nav-item {
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-nav-item:hover {
  color: var(--special-blue-hover);
}

.site-nav-item:focus {
  opacity: 30%;
  color: var(--basic-black);
}

.site-nav a:not([href]) {
  color: var(--basic-brown);
}

/*inro*/

.hide {
  display: none;
}

.wrapper-welcome {
  width: 1200px;
  height: 509px;
  background-image: url(../img/welcome-main.jpg);
}

/*Описание*/

.description {
  width: 1200px;
  height: 216px;
  text-align: center;
  vertical-align: middle;
}

.description-contents {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.description-p {
  line-height: 26px;
}

/*reson*/

.heading-h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black)
}

.heading-h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black)
}

.heading-h3-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: inherit;
}

.reason {
  background-image: url(../img/background-photo/ground-blye.png);
  color: var(--basic-white)
}

.reason-item {
  background-color: var(--basic-light-grey);
}

/*button/map*/

.appointment {
  background-color: var(--basic-white);
  color: #000000;
}

.appointment-text {
  background-color: inherit;
  font-size: 14px;
  line-height: 24px;
}

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: var(--basic-brown);
}

.button:hover {
  background-color: var(--special-brown-hover);
}

.button:focus {
  background-color: var(--special-brown-pressing);
  color: rgba(255, 255, 255, 0.3);
}

.appointment-form {
  font-weight: bold;
  line-height: 26px;
}

.appointment-item-input {
  font: inherit;
  font-weight: inherit;
  background: var(--basic-light-grey) url(../img/icon/calendar-none.svg) no-repeat right;
  border: none;
}

.appointment-item-input:hover {
  background: var(--special-light-grey-input-hover) url(../img/icon/calendar-hover.svg) no-repeat right;
  border: none;
}

.appointment-item-input:focus {
  background: var(--basic-white) url(../img/icon/calendar-focus.svg) no-repeat right;
  outline: 2px solid var(--basic-light-grey);
}

.inp_price {
  background: var(--basic-grey-input);
  border: none;
}

/*minus*/

/*plus*/

.button-search {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: var(--basic-blue);
}

.button-search:hover {
  background-color: var(--special-blue-hover);
}

.button-search:focus {
  background-color: var(--special-blue-pressing);
  color: rgba(255, 255, 255, 0.3)
}

/*main-footer*/

.main-footer {
  color: var(--basic-black);
  background: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-social {
  list-style: none;
}

.copyright-button {
  background-color: var(--basic-white);
}

/*.copyright-button:hover {
  background: var(--basic-white) url(../img/icon/logo_htmlacademy-hover.svg) no-repeat;
}
*/

/*inner-page*/

.filter-wrapper {
  background: var(--basic-blue) url(../img/background-photo/background-filter-catalog.jpg) no-repeat;
  color: var(--basic-white);
}

.filter-block {
  border: none;
}

.filter-legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-list {
  list-style: none;
}

.filter-checkbox {
  color: var(--basic-white);
  cursor: pointer;
}

.filter-price-bar {
  background: none;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  border-radius: 2px;
  outline: none;
}

.filter-button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

/*Сортировка*/

.inner-sorting {
  background-color: var(--basic-white);
  font-size: 12px;
  line-height: 18px;
}

.inner-sorting-list {
  list-style: none;
}

.inner-sorting-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline 1px dashed var(--basic-blue);
}

.inner-sorting-link:hover {
  color: var(--basic-blue);
}

.inner-sorting-link:active {
  color: var(--basic-blue);
  text-decoration: none;
}

.inner-sorting-link:focus {
  color: var(--basic-black);
  text-decoration: none;
}

.inner-sorting-arrow-down {
  text-decoration: none;
}

.inner-sorting-arrow-up {
  text-decoration: none;
}

/*hotel list*/

.block-of-hotel {
  background-color: var(--basic-white);
}

.hotel-list {
  list-style: none;
}

.more-details {
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-blue);
}

.more-details:hover {
  background-color: var(--special-blue-hover);
}

.more-details:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-blue-pressing);
}

.to-book {
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-brown);
}

.to-book:hover {
  background-color: var(--special-brown-hover);
}

.to-book:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-brown-pressing);
}

.name-of-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
}

.name-of-hotel:hover {
  color: var(--basic-blue);
}

.name-of-hotel:focus {
  color: rgba(0, 0, 0, 0.3);
}
