@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans-Bold.woff) format("woff"), url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans.woff) format("woff"), url(../fonts/PTSans.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Colors*/

:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-light-grey: #EEEEEE;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white-opacity: rgba(255, 255, 255, 0.9);
  --basic-brown: #766357;
  --basic-grey-input: #F2F2F2;
  --basic-grey-plus-minus: #A9A9A9;
  --special-brown-hover: #604E43;
  --special-brown-pressing: #503E33;
  --special-blue-hover: #669EC0;
  --special-blue-pressing: #5496BD;
  --special-light-grey-input-hover: #EBEBEB;
  --special-light-grey-focus: #BDBBBC;
}

/*Global*/

.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  align-content: start;
  grid-template-rows: min-content 1fr min-content;
}

/*Header-container*/

.main-header-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

/*Navigation*/

.site-nav li:nth-child(2) {
  margin-right: 153px;
}

.site-nav li:nth-child(1), .site-nav li:nth-child(2) {
  text-align: left;
}

.site-nav li:nth-child(3) {
  margin-left: 10px;
}

.site-nav li:nth-child(3), .site-nav li:nth-child(4) {
  text-align: right;
}

.site-nav li {
  display: block;
  width: 20%;
}

.site-nav {
  display: flex;
  width: 1058px;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 15px 0 15px;
  justify-content: space-between;
}

.site-nav-item {
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.site-nav-item:hover {
  color: var(--special-blue-hover);
}

.site-nav-item:focus {
  opacity: 30%;
  color: var(--basic-black);
}

.site-nav a:not([href]) {
  color: var(--basic-brown);
}

/*Main-wrapper*/

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*Inro-wrapper,
Hide-elements*/

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-welcome {
  height: 509px;
  background-image: url(../img/welcome-main.jpg);
  display: grid;
}

/*Description*/

.description {
  display: grid;
  grid-template-rows: 138px 1fr;
  height: 216px;
  text-align: center;
}

.description-contents {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 42px auto 0;
  padding: 0px;
  width: 470px;
}

.description-p {
  margin: 0;
  padding: 0px;
  line-height: 26px;
}

/*Heading*/

.heading-h2 {
  margin: 57px auto 30px 446px;
  padding: 0;
  font-size: 30px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black)
}

.heading-h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  margin: 23px auto 25px;
}

.heading-h3-white {
  font-size: 21px;
  line-height: 21px;
  width: 150px;
  font-weight: bold;
  color: inherit;
  margin: 0 auto 25px;
}

.first-head {
  width: 122px;
}

/*Resons*/

.reason {
  background-image: url(../img/background-photo/ground-blye.png);
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 400px 1fr;
  text-align: center;
}

.reason-content-p {
  width: 304px;
}

.reason-reverse {
  grid-template-columns: 1fr 400px;
}

.reason-reverse-p {
  width: 304px;
}

.reason-container-a {
  text-align: center;
  padding-top: 47px;
}

.reason-container {
  text-align: center;
  padding-top: 50px;
}

.reason p {
  margin: 0 auto 25px;
  padding: 0;
}

.reason-item-wrapper {
  display: grid;
  height: 256px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.reason-item p {
  margin: 0 auto 25px;
}

.reason-item {
  background-color: var(--basic-light-grey);
  padding-top: 24px;
}

.reason-item-p-column-1 {
  width: 207px;
}

.reason-item-p-column-2 {
  width: 258px;
}

.reason-item-p-column-3 {
  width: 246px;
}

/*Heading h3 in reason-item - width*/

.column-1 {
  width: 119px;
}

.column-2 {
  width: 99px;
}

.column-3 {
  width: 98px;
}

/*Advantages*/

.advantages-wrapper {
  display: grid;
  height: 330px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  box-sizing: border-box;
}

.advantages {
  padding-top: 60px;
}

.advantages.suvenir {
  padding-top: 55px;
}

.advantages-content-column-1 {
  width: 254px;
}

.advantages-content-column-2 {
  width: 297px;
  ;
}

.advantages-content-column-3 {
  width: 269px;
  ;
}

.advantages-wrapper p {
  margin: 0 auto 25px;
}

/*Form*/

.appointment {
  position: relative;
  background-color: var(--basic-white);
  color: #000000;
  display: grid;
  text-align: center;
}

.appointment-form {
  position: absolute;
  z-index: 1;
  width: 568px;
  top: 292px;
  left: 316px;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  background-color: var(--basic-white);
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
}

.appointment-text {
  background-color: inherit;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto 45px;
  width: 435px;
}

.appointment-form p {
  margin: 0;
  padding: 0;
}

/*Button*/

.button {
  font-family: PTSans;
  font-style: normal;
  font-weight: bold;
  justify-self: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: var(--basic-brown);
}

.button:hover {
  background-color: var(--special-brown-hover);
}

.button:focus {
  background-color: var(--special-brown-pressing);
  color: rgba(255, 255, 255, 0.3);
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  padding: 0;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: var(--basic-blue);
}

.button-search:hover {
  background-color: var(--special-blue-hover);
}

.button-search:focus {
  background-color: var(--special-blue-pressing);
  color: rgba(255, 255, 255, 0.3);
}

/*Input*/

.input-calendar {
  position: absolute;
  top: 3px;
  right: 3px;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

.input-calendar:hover path {
  fill: var(--basic-black);
}

.input-calendar-2:hover path {
  fill: var(--basic-black);
}

.input-calendar:focus path {
  fill: var(--basic-blue);
}

.input-calendar-2:focus path {
  fill: var(--basic-blue);
}

.appointment-item {
  position: relative;
}

.appointment-item-input {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 35px;
  margin-bottom: 29px;
  width: 346px;
  font: inherit;
  font-weight: inherit;
  background: var(--basic-light-grey) no-repeat;
  border: none;
  box-sizing: border-box;
  color: var(--basic-black);
}

.appointment-item-input:hover {
  background: var(--special-light-grey-input-hover) no-repeat;
  border: none;
}

.appointment-item-input:focus {
  background: var(--basic-white) no-repeat;
  outline: 2px solid var(--basic-light-grey);
}

.appointment-item-input::placeholder {
  font-weight: bold;
  color: var(--basic-black);
}

.appointment-form label {
  display: inline-block;
  margin: 6px 15px 6px 0;
  width: 92px;
}

.inp_price {
  width: 45px;
  background: var(--basic-grey-input);
  border: none;
  text-align: center;
  font-weight: bold;
  color: var(--basic-black);
}

.inp_price:hover {
  background: var(--special-light-grey-input-hover) no-repeat;
  border: none;
}

.inp_price:focus {
  background: var(--basic-white) no-repeat;
  outline: 2px solid var(--basic-light-grey);
}

.count-box-wrapper {
  display: flex;
  margin: 0 0 54px;
  width: 568px;
  box-sizing: border-box;
}

input~label[for="children"] {
  margin-left: 50px;
  margin-right: 20px;
  width: 60px;
}

.minus {
  border: none;
  text-align: center;
  width: 30px;
  padding: 2px;
  font-size: 22px;
  font-weight: bold;
  color: var(--basic-grey-plus-minus);
  cursor: pointer;
}

.plus {
  border: none;
  text-align: center;
  width: 30px;
  padding: 2px;
  font-size: 15px;
  font-weight: bold;
  color: var(--basic-grey-plus-minus);
  cursor: pointer;
}

.minus:hover {
  color: var(--basic-black);
}

.plus:hover {
  color: var(--basic-black);
}

.minus:focus {
  color: var(--special-blue-pressing);
}

.plus:focus {
  color: var(--special-blue-pressing);
}

/*main-footer*/

.main-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--basic-black);
  background: rgba(255, 255, 255, 0.9);
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 0;
}

.main-footer p {
  margin: 0;
}

.footer-social {
  margin: 0;
}

.footer-contacts-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
  text-align: center;
}

.contacts-hashtag {
  padding-top: 22px;
  padding-bottom: 9px;
  padding-left: 153px;
  padding-right: 81px;
}

.contacts-number {
  margin-top: -3px;
  padding-left: 136px;
  padding-right: 64px;
}

.footer-social-button-grid {
  display: grid;
  grid-template-columns: 46px 46px 46px;
  align-items: center;
  justify-content: center;
  grid-gap: 6px;
}

.footer-social {
  list-style: none;
}

.footer-copyright {
  padding-right: 131px;
  justify-self: right;
  align-self: center;
}

.copyright-button:hover path {
  fill: var(--basic-blue);
}

.copyright-button:focus path {
  fill: var(--special-light-grey-focus);
}

.social-button:hover rect {
  fill: var(--special-blue-hover);
}

.social-button:focus rect {
  fill: var(--special-blue-pressing);
}

.social-button:focus path {
  fill: rgba(255, 255, 255, 0.3);
}

/*Inner-page*/

.filter {
  background: var(--basic-blue) url(../img/background-photo/background-filter-catalog.jpg) no-repeat;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 300px 300px 1fr;
  height: 217px;
  justify-content: start;
}

/*Fieldset-filter*/

.filter-block fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  border: none;
  margin-bottom: 24px;
  padding: 0;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-checkbox {
  color: var(--basic-white);
  cursor: pointer;
  margin-bottom: 25px;
}

.filter-price-bar {
  background: none;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  border-radius: 2px;
  outline: none;
  width: 158px;
  padding: 0;
  margin: 0 0 20px auto;
  box-sizing: border-box;
  text-align: center;
}

.filter-button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
}

/*Sort*/

.inner-sorting {
  background-color: var(--basic-white);
  font-size: 12px;
  line-height: 18px;
  display: grid;
  grid-template-columns: 200px 1fr 127px;
  margin-top: 29px;
  margin-left: 73px;
}

.inner-sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inner-sorting-text {
  padding: 0;
  margin: 0;
}

.inner-sorting-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline 1px dashed var(--basic-blue);
}

.inner-sorting-link:hover {
  color: var(--basic-blue);
}

.inner-sorting-link:active {
  color: var(--basic-blue);
  text-decoration: none;
}

.inner-sorting-link:focus {
  color: var(--basic-black);
  text-decoration: none;
}

.arrow-sort-wrapper {
  justify-self: center;
}

.inner-sorting-arrow-down {
  text-decoration: none;
}

.inner-sorting-arrow-up {
  text-decoration: none;
}

/*Hotel list*/

.block-of-hotel {
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 135px 1fr 127px;
  margin-left: 73px;
  height: 150px;
}

.block-of-hotel p {
  padding: 0;
  margin: 0;
}

.more-details {
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-blue);
}

.more-details:hover {
  background-color: var(--special-blue-hover);
}

.more-details:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-blue-pressing);
}

.to-book {
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-brown);
}

.to-book:hover {
  background-color: var(--special-brown-hover);
}

.to-book:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-brown-pressing);
}

.name-of-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
}

.name-of-hotel:hover {
  color: var(--basic-blue);
}

.name-of-hotel:focus {
  color: rgba(0, 0, 0, 0.3);
}

.blank-page {
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 25px 0 25px 0;
}

.blank-page-photo {
  border-radius: 2%;
  opacity: 0.9;
}
